{% extends 'index.html' %}

{% block title %}
Task detail
{% endblock %}

{% block header %}
<h1>Задача</h1>
<h3>Подробная информация.</h3>
{% endblock %}

{% block content %}
{% for task in tasks %}
<div>
    <h3>{{ task.title }}</h3>
    <p>Описание:</p>
    <p>{{ task.description }}</p>
    <p>Исполнитель:</p>
    <p>{{ task.executor }}</p>
    <p>Владелец:</p>
    <p>{{ task.customer }}</p>
    <p>Статус:</p>
    <p>{{ task.get_status_display }}</p>
    <div>
        <p>Изменить статус:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить">
        </form>
    </div>
    <p>Дата создания:</p>
    <p>{{ task.date_created }}</p>
    <p>Срок выполнения:</p>
    <p>{{ task.date_to_complete }}</p>
    <p><a href="{% url 'task_comment' task.pk %}">Комментарии</a> к задаче</p>
</div>
{% endfor %}
{% endblock %}
